<!-- ToDo: コメントが無い場合 -->
<p>
  <strong>コメント者: </strong>
  <%= comment.commenter_name %>
</p>
 
<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'コメントを削除', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

<hr>